<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello MOE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>177A238F1F8E17E30059BF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>177A23A81F8E17E40059BF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>177A23B31F8E17E40059BF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
